<h1>Hello world, this is where you can create new user</h1>
<div>
  <%= form_for User.new do |f| %>
    <div class="field">
      <%= f.text_field :first_name, placeholder: "First name" %>
    </div>
    <div class="field">
      <%= f.text_field :last_name, placeholder: "Last name" %>
    </div>
    <div>
      <%= f.submit "Submit", class: "button is-primary" %>
    </div>
  <% end %>
</div>