// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.home.index {
  background-image: url("http://kirby.nintendo.com/battle-royale/assets/images/social-share.jpg"); 
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
