<!DOCTYPE html>
<html>
  <head>
    <title>QuaMetMoi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= flash_messages %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
